extends layout

mixin inputForm(label, name)
    div.inputForm
        span= label
        input(type="text", name=`${name}`)

block content
  div.formPlataform
    h1 Agregar plataforma
    form(action="/agregarPlataforma" method="post")
        +inputForm('Servidor', 'server')
        +inputForm('Puerto', 'port')
        div
            input(type="submit", value="Guardar").btnSave