extends layout

block content
  h1 Consulta de Hardware
  canvas(id="usageChart")
block script
  //- script(src=`${modulePath}`)
  script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.js")
  script.
    const ctx = document.getElementById('usageChart').getContext('2d');
    const chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: ["January", "February", "March", "April", "May", "June", "July"],
            datasets: [{
                label: "My First dataset",
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: [0, 10, 5, 2, 20, 30, 45],
            }]
        },

        // Configuration options go here
        options: {}
    });