extends layout

mixin inputForm(label, name)
    div.inputForm
        span= label
        input(type="text", name=`${name}`)

block content
  h1 Control directo
  div
    form(action="/controlDirecto" method="post")
      +inputForm('rotation', 'rotation')
      input(type="submit", value="Guardar").btnSave
