doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/datepicker.css')
    link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
    link(rel="stylesheet", href="https://unpkg.com/js-datepicker/datepicker.css")
  body
    div.mainContainer
      div.headerContainer
        h1= title
        div
          ul.menuContainer
            li
              a(href="agregarPlataforma").btnMenu
                | Agregar nueva plataforma
            li
              a(href="consultas").btnMenu
                | Consultas
            li
              a(href="controlDirecto").btnMenu
                | Control directo
    div.contentShow
      block content
      block script
